<div class="row row-cols-1 row-cols-md-3 g-4">
    <div *ngFor="let product of products" class="col">
      <div class="card">
        <img src="{{product.photo}}" alt="{{product.name}}" class="card-img-top" width="500px" height="264px">
        <div class="card-body">
          <h5 class="card-title">{{product.name}} - {{product.breed}}</h5>
          <p class="card-text smaller">Product: {{product.gender}} • Size: {{product.age}}</p>
          <p class="card-text">Price: {{product.price}}</p>
          <button class="btn btn-primary buy-button" (click)="purchaseProduct(product)">Buy</button>
        </div>
      </div>
    </div>
  </div>
  