<nav class="navbar navbar-expand-lg nav-fill">
        <a class="navbar-brand">
            <img src="assets/PetMatch.png" width="141" height="86">
        </a>
        <a class="nav-item nav-link" href="">
            Home
        </a>
        <a class="nav-item nav-link" href="search">
            Category
        </a>
        <a class="nav-item nav-link" href="store">
            About
        </a>
        <a class="nav-item nav-link" href="profile">
            Contact
        </a>
    <form class="form-inline">
        <input type="search" class = "rounded border border-dark p-2" placeholder="Search something here!">
        <app-auth-button></app-auth-button>
    </form>
</nav>