<div (change)="onChange()">
    <h1>Filter</h1>
    <div>
        <h4>Category</h4>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="color_Red">
            <label class="form-check-label" for="flexCheckDefault">
                Food
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="color_Apricot">
            <label class="form-check-label" for="flexCheckDefault">
            Treats
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="color_Black">
            <label class="form-check-label" for="flexCheckDefault">
            Medication
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="color_Black & White">
            <label class="form-check-label" for="flexCheckDefault">
                Clothing
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="color_Silver">
            <label class="form-check-label" for="flexCheckDefault">
                Beds
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="color_Tan">
            <label class="form-check-label" for="flexCheckDefault">
                Other
            </label>
        </div>
        <div>
            <h4>Price</h4>
            <div class="input-group">
                <input class="form-control" type="number" value="" id="_minPrice" placeholder="Min" width="50%">
                <input class="form-control" type="number" value="" id="_maxPrice" placeholder="Max" width="50%">
            </div>
        </div>
    </div>
</div>

