<app-toolbar></app-toolbar>
<div class="container">
    <form action="/.netlify/functions/update_listing">
        <div class="row">
            <div class="col-6">
                <div class="container">
                    <div class="card clickable-card">
                    <input class="hidden" id="photo" name="photo">
                    <input id="photoFile" type="file" (change)="changePhoto()">
                    <img id="photoPreview" alt="Image not found" width="560px" height="476px">
                </div>
                </div>
            </div>
            <div class="col-5">
                <input class="hidden" name="seller" value="{{userId}}">
                <input class="hidden" name="id" value="{{listing._id}}">
                <input #name class="h1" id="name" name="name" placeholder="Name">
                <input #breed class="h2" id="breed" name="breed" placeholder="Breed">
                <input #price class="h2" type="number" id="price" name="price" placeholder="Price">
                <br>
                <label for="isBid" class="h5">
                    <button type="button" class="text-white rounded-3 p-2 listing-button" (click) = "swapButton()" style="background-color:#003459;">{{buttonText}}</button>
                </label>
                <input #isBid type="checkbox" id="isBid" name="isBid" class="hidden">
                <div class="container adj-list" style="color:gray;">
                    <div class="row">
                        <div class="col">
                            Gender
                        </div>
                        <div class="col">
                            <select #gender id="gender" name="gender" placeholder="Gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Age
                        </div>
                        <div class="col">
                            <input id="age" #age type="number" name="age" placeholder="Age">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Size
                        </div>
                        <div class="col">
                            <select #breed_size id="breed_size" name = "breed_size" placeholder="Size">
                                <option value="Small">Small</option>
                                <option value="Medium">Medium</option>
                                <option value="Large">Large</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            Color
                        </div>
                        <div class="col">
                            <select #name id="color" name="color" placeholder="Color">
                                <option value="Red">Red</option>
                                <option value="Apricot">Apricot</option>
                                <option value="Black">Black</option>
                                <option value="Black & White">Black and White</option>
                                <option value="Silver">Silver</option>
                                <option value="Tan">Tan</option>
                            </select>
                        </div>
                        <input type="submit" value="Update Listing" class="text-white rounded-3 p-2 listing-button" style="background-color:#003459;height:150%">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
