<div class="cards-container">
    <a href="listing?id={{product._id}}">
      <div class="card">
        <img src="{{product.photo}}" alt="{{product.name}}" class="card-img-top" width="500px" height="264px">
        <div class="card-body">
          <h5 class="card-title">{{product.name}} - {{product.breed}}</h5>
          <p class="card-text smaller">Gender: {{product.gender}} • Age: {{product.age}}</p>
          <p class="card-text">Price: {{product.price}}</p>
        </div>
      </div>
    </a>
  </div>
  