/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Gilroy-Bold;
    src: url('assets/gilroy/Gilroy-Bold.ttf') format('truetype');
}
* {
    font-family: Gilroy-Bold;
}
.text-responsive {
    font-size: calc(100% + 1vw + 1vh);
  }