* {
    background-color: #FDFDFD;
}
.container {
    margin-top: 40px;
    position: relative;
    width: 100%; /* make the container full width */
    max-width: 1200px; /* set a max-width to prevent the container from becoming too wide */
    margin: 0 auto;
  }
  