.hidden {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  * {
    box-sizing: border-box;
  }
  
  .container {
    margin-top: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col-6,
  .col-5 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .col-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  
  .card {
    position: relative;
    display: inline-block;
    margin-top: -50px;
  }
  
  .card input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  #photoPreview {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
  }
  
  .h1,
  .h2 { 
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .h1 {
    font-size: 20px;
  }
  
  .h2 {
    font-size: 16px;
  }
  
  .row label {
    margin-bottom: 0;
  }
  
  .adj-list {
    margin-top: 30px;
  }
  
  .adj-list .row {
    margin-bottom: 10px;
  }
  
  .adj-list .col {
    font-weight: bold;
  }
  
  .adj-list select,
  .adj-list input[type='number'] {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .adj-list input[type='checkbox'] {
    display: none;
  }
  
  .listing-button {
    background-color: #003459;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  .hidden {
    display: none;
  }
  
  .text-white {
    color: white;
  }
  
  .text-white:hover {
    text-decoration: none;
  }
  
  @media (max-width: 576px) {
    .col-6,
    .col-5 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  