<div class="container rounded-3">
    <app-toolbar></app-toolbar>
    <div class = "d-flex justify-content-between">
        <div>
            <h1 class="display-1 mt-5 pt-5">
                One More Friend!
            </h1>
            <h1 class = "display-3">
                Thousand More Fun!
            </h1>
            <p style="width:50%">
                Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We have 200+ different pets that can meet your needs!
            </p>
            <a href="search">
            <button class="text-white rounded-3 p-2" style="background-color:#003459;" type="submit">Explore now</button>
            </a>
        </div>
    </div>
</div>
<div class="container2">
    <img src="..\assets\background\BreedHome.resized.png" alt="Image description">
    <div class="text-containers">
        <h1>IDENTIFY Your Pet</h1>
        <h2>Unsure of the Breed</h2>
        <p>Are you tired of guessing your pet's breed? Look no further! Our cutting-edge AI technology can accurately determine your pet's breed with just a few simple clicks. With a database of over 250 breeds, our AI can identify even the most obscure breeds.</p>
        <br>
        <button class="rounded-3 p-2 mt-3" type="submit" (click)="open(content)">Explore Now</button>
    </div>
</div>
<div class="container3">
    <h2>Whats new?</h2>
    <div class="text-wrapper d-flex justify-content-between">
        <p>Take A Look At Some Of Our Pets</p>
        <a href="search">
        <button class="takeALook">View More</button>
    </a>
    </div>
    <div class="row mt-4" (click)="goToVotes">
        <div class="col-md-3">
            <a href="listing?id=645069d69ea3c48cfcd00398">
            <div class="card clickable-card">
                <img src="..\assets\PetImages\Image1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jared - Golden Retriever</h5>
                    <p class="card-text">
                        <small><strong>Gender:</strong> Male</small><br>
                        <small><strong>Age:</strong>5</small>
                    </p>
                    <p class="price-text">
                        <small> 200 Dollars</small>
                    </p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
            <a href="listing?id=6451747dfc25a7f7c6f90706">
            <div class="card clickable-card" data-href="https://www.w3schools.com/howto/howto_js_redirect_webpage.asp">
                <img src="..\assets\PetImages\2Q.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bob - Toy Poodle</h5>
                    <p class="card-text">
                        <small><strong>Gender:</strong> Male</small><br>
                        <small><strong>Age:</strong> 1</small>
                    </p>
                    <p class="price-text">
                        <small> 500 Dollars</small>
                    </p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
            <a href="listing?id=64514fb5fc25a7f7c6f906fc">
            <div class="card clickable-card" data-href = "https://www.w3schools.com/howto/howto_js_redirect_webpage.asp">
                <img src="..\assets\PetImages\3Q.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bean - Chihuaha</h5>
                    <p class="card-text">
                        <small><strong>Gender:</strong> Male</small><br>
                        <small><strong>Age:</strong> 11</small>
                    </p>
                    <p class="price-text">
                        <small> 10 Dollars</small>
                    </p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
            <a href="listing?id=645176e7fc25a7f7c6f90708">
            <div class="card clickable-card" data-href="product-view.component.html">
                <img src="..\assets\PetImages\4Q.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jen - Pomeranian</h5>
                    <p class="card-text">
                        <small><strong>Gender:</strong> Female</small><br>
                        <small><strong>Age:</strong> 7</small>
                    </p>
                    <p class="price-text">
                        <small> 15 Dollars</small>
                    </p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
            <a href="listing?id=64516342fc25a7f7c6f90700 ">
            <div class="card clickable-card" data-href="product-view.component.html">
                <img src="..\assets\PetImages\5Q.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pow - Husky</h5>
                    <p class="card-text">
                        <small><strong>Gender:</strong> Female</small><br>
                        <small><strong>Age:</strong> 1</small>
                    </p>
                    <p class="price-text">
                        <small> 60 Dollars</small>
                    </p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
            <a href="listing?id=64516644fc25a7f7c6f90701 ">
            <div class="card clickable-card" data-href="product-view.component.html">
                <img src="..\assets\PetImages\6Q.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Ben - Poodle</h5>
                    <p class="card-text">
                        <small><strong>Gender:</strong> Male</small><br>
                        <small><strong>Age:</strong> 1</small>
                    </p>
                    <p class="price-text">
                        <small> 20 Dollars</small>
                    </p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
            <a href="listing?id=64516e76fc25a7f7c6f90703 ">
            <div class="card clickable-card" data-href="product-view.component.html">
                <img src="..\assets\PetImages\7Q.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Alice - Great Dane</h5>
                    <p class="card-text">
                        <small><strong>Gender:</strong> Female</small><br>
                        <small><strong>Age:</strong> 1</small>
                    </p>
                    <p class="price-text">
                        <small> 500 Dollars</small>
                    </p>
                </div>
            </div>
        </a>
        </div>
        <div class="col-md-3">
            <a href="listing?id=6451790136215aae82f0b934 ">
            <div class="card clickable-card" data-href="product-view.component.html">
                <img src="..\assets\PetImages\8Q.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lola - Golden Retriever</h5>
                    <p class="card-text">
                        <small><strong>Gender:</strong> Female</small><br>
                        <small><strong>Age:</strong> 2</small>
                    </p>
                    <p class="price-text">
                        <small> 25 Dollars</small>
                    </p>
                </div>
            </div>
        </a>
        </div>
</div>
<div class="container4">
    <img src="..\assets\background\FindFriendBanner.png" alt="Image description">
    <div class="text-container">
        <h1>One More Friend</h1>
        <h2>Thousands more fun!</h2>
        <p>Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We have 200+ different pets that can meet your needs!</p>
        <a href="search">
        <button class="my-button">Explore Now</button>
        </a>
    </div>
</div>
<div class="container5">
    <h2>Hard to choose right products for your pets?</h2>
    <div class="text-wrapper d-flex justify-content-between">
        <div class="our-products">Our Products</div>
        <a href="store">
        <button class="takeALook">View More</button>
    </a>
    </div>
    <div class="row mt-4" (click)="goToVotes">
        <div class="col-md-3">
            <div class="card clickable-card">
                <img src="..\assets\PetProducts\DogFOOD2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dog Food</h5>
                    <p class="card-text">
                        <small><strong>Category:</strong> Food</small><br>
                        <small><strong>Size:</strong>33 lbs</small>
                    </p>
                    <p class="price-text">
                        <small> 115.99 Dollars</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card clickable-card" data-href="https://www.w3schools.com/howto/howto_js_redirect_webpage.asp">
                <img src="..\assets\PetProducts\CatFood2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cat Food</h5>
                    <p class="card-text">
                        <small><strong>Category:</strong> Food</small><br>
                        <small><strong>Size:</strong>20 lbs</small>
                    </p>
                    <p class="price-text">
                        <small> 30.99 Dollars</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card clickable-card" data-href = "https://www.w3schools.com/howto/howto_js_redirect_webpage.asp">
                <img src="..\assets\PetProducts\Fleas.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Flea and Tick Treatment</h5>
                    <p class="card-text">
                        <small><strong>Category:</strong> Medication</small><br>
                        <small><strong>Size:</strong> 6 Doses</small>
                    </p>
                    <p class="price-text">
                        <small> 28.99 Dollars</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card clickable-card" data-href="product-view.component.html">
                <img src="..\assets\PetProducts\DogToy.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Octopus Dog Chew Toys</h5>
                    <p class="card-text">
                        <small><strong>Category:</strong> Other</small><br>
                        <small><strong>Size:</strong> 2Pk</small>
                    </p>
                    <p class="price-text">
                        <small> 15.99 Dollars</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card clickable-card" data-href="product-view.component.html">
                <img src="..\assets\PetProducts\Glove.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pet Grooming Glove Brush</h5>
                    <p class="card-text">
                        <small><strong>Category:</strong> Other</small><br>
                        <small><strong>Size:</strong> Glove</small>
                    </p>
                    <p class="price-text">
                        <small> 8.99 Dollars</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card clickable-card" data-href="product-view.component.html">
                <img src="..\assets\PetProducts\BedDog.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Elevated Dog Bed, meshed</h5>
                    <p class="card-text">
                        <small><strong>Category:</strong> Beds</small><br>
                        <small><strong>Size:</strong> 25"Lx32"Wx7"H</small>
                    </p>
                    <p class="price-text">
                        <small> 40.99 Dollars</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card clickable-card" data-href="product-view.component.html">
                <img src="..\assets\PetProducts\DogTreats.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dog treats, chicken</h5>
                    <p class="card-text">
                        <small><strong>Category:</strong> Treats</small><br>
                        <small><strong>Size:</strong> 16oz</small>
                    </p>
                    <p class="price-text">
                        <small> 14.99 Dollars</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card clickable-card" data-href="product-view.component.html">
                <img src="..\assets\PetProducts\DogLeash.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">retractable dog leash</h5>
                    <p class="card-text">
                        <small><strong>Category:</strong> Clothing</small><br>
                        <small><strong>Size:</strong> 16ft</small>
                    </p>
                    <p class="price-text">
                        <small> 14.99 Dollars</small>
                    </p>
                </div>
            </div>
        </div>
</div>
<div class="container6 d-flex align-items-center justify-content-center">
    <p class="proud-to-be">Proud to be part of <span class="pet-sellers">Pet Sellers</span></p>
  </div>
  <div class="image-container d-flex justify-content-center">
    <img src="..\assets\Brands\Frame40.png" alt="Image 1">
  </div>
  <div class="container7">
    <div>
        <p class="already-know">You already know?</p>
        <h3 class="PetKnowledge">Useful Pet Knowledge</h3>
      </div>
      <div class="d-flex justify-content-between mt-4">
        <div class="card card-knowledge">
          <img src="..\assets\PetKnowledge\PetKnowledge1.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="Title-Text"><strong>What is a Pomeranian? How to Identify Pomeranian Dogs</strong></p>
            <p class="Info-Text">The Pomeranian, also known as the Pomeranian (Pom dog), is always in the top of the cutest pets. Not only that, the small, lovely, smart, friendly, and skillful circus dog breed.</p>
          </div>
        </div>
        <div class="card card-knowledge">
          <img src="..\assets\PetKnowledge\PetKnowledge2.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="Title-Text"><strong>Dog Diet You Need To Know</strong></p>
            <p class="Info-Text">Dividing a dog's diet may seem simple at first, but there are some rules you should know so that your dog can easily absorb the nutrients in the diet. For those who are just starting to raise dogs, especially newborn puppies with relatively weak resistance.</p>
          </div>
        </div>
        <div class="card card-knowledge">
          <img src="..\assets\PetKnowledge\PetKnowledge3.png" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="Title-Text"><strong>Why Dogs Bite and Destroy Furniture and How to Prevent It Effectively</strong></p>
            <p class="Info-Text">Dog bites are common during development. However, no one wants to see their furniture or important items being bitten by a dog.</p>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>

    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Upload Image</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="imageUpload">Select an image to upload:</label>
              <input type="file" class="form-control-file" id="imageUpload" (change)="onFileSelected($event)">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.dismiss('cancel')">Cancel</button>
          <button type="button" class="btn btn-primary" [disabled]="!selectedFile" (click)="upload()">Upload</button>
        </div>
      </ng-template>
      
</div>



<style>
    .takeALook {
        background-color: #ffffff;
        color: #003459;
        border: 2px solid #003459;
        border-radius: 20px;
        padding: 10px;
    }

    .text-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .text-wrapper p {
        margin-bottom: 0;
    }
</style>

