<div class="container rounded-3">
    <app-toolbar></app-toolbar>
    <div class = "d-flex justify-content-between">
        <div>
            <h1 class="display-1 mt-5 pt-5">
                One More Friend!
            </h1>
            <h1 class = "display-3">
                Thousand More Fun!
            </h1>
            <p style="width:50%">
                Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We have 200+ different pets that can meet your needs!
            </p>
            <button class="text-white rounded-3 p-2" style="background-color:#003459" type="submit">Explore now</button>
        </div>
    </div>
</div>