<div class="container rounded-3">
    <app-toolbar></app-toolbar>
    <div class = "d-flex justify-content-between">
        <div>
            <h1 class="display-1 mt-5 pt-5">
                One More Friend!
            </h1>
            <h1 class = "display-3">
                Thousand More Fun!
            </h1>
            <p style="width:50%">
                Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We have 200+ different pets that can meet your needs!
            </p>
            <button class="text-white rounded-3 p-2" style="background-color:#003459;" type="submit">Explore now</button>
        </div>
    </div>
</div>
<div class="container2" style="text-align: right;">
    <div class="pt-5 text-center m-0 float-right" style="color:white; position: absolute;">
        <h1 class="display-4 mt-0">IDENTIFY Your Pet</h1>
        <h2 class="">Unsure of the Breed</h2>
        <span class="text-wrap" style="width:30%;">Are you tired of guessing your pet's breed? Look no further! Our cutting-edge AI technology can accurately determine your pet's breed with just a few simple clicks. With a database of over 250 breeds, our AI can identify even the most obscure breeds.</span>
        <br>
        <button class="rounded-3 p-2 mt-3" style="background-color:white" type="submit">Explore now</button>
    </div>
</div>
<div class="container3">
    <h2>Whats new?</h2>
    <div class="text-wrapper d-flex justify-content-between">
        <p>Take A Look At Some Of Our Pets</p>
        <button class="takeALook">View More</button>
    </div>
</div>

<style>
    .takeALook {
        background-color: #ffffff;
        color: #003459;
        border: 2px solid #003459;
        border-radius: 20px;
        padding: 10px;
    }

    .text-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .text-wrapper p {
        margin-bottom: 0;
    }
</style>

