.container-wrapper {
    display: flex;
    flex-wrap:nowrap;
  }

.container {
    position: relative;
    background-image: url(../../assets/background/TopHome.png);
    height: 100vh;
    width:4000px;
    background-repeat: no-repeat;
    background-size:auto;
}
.container2 {
    background-image: url(../../assets/background/BreedHome.resized.png);
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position:top;
    margin-top: -350px;
    background-size:auto;
}
.container3 {
  background-color: #ffffff;
  height: 50vh;
  width: 1200px;
  margin-top: -150px;
  margin-left: 45px;
  padding: 20px;
  box-sizing: border-box;
}
span {
    display: inline-block;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.smaller {
  font-size: 0.8em;
}
.container3 p {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  
}
.card {
  margin-bottom: 2rem;
}

.card-img-top {
  height: 300px;
  object-fit: cover;
  object-position: center;
  padding: 10px;
  background-color: #fff;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gender {
  margin-right: 7px;
}
.price-text {
  margin-top: -20px;
}
.clickable-card:hover {
  cursor: pointer;
  border: 2px solid #007bff;
}
.container4 {
  position: relative; /* Set the container to relative positioning */
}

.text-container {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-0%, -50%);
  text-align: center;
  color: white;
}

.text-container h1 {
  font-size: 55px;
  font-weight: bold;
  margin: 0;
  color: #003459;

}

.text-container h2 {
  font-size: 37px;
  margin: 20px 0;
  color: #003459;

}

.text-container p {
  font-size: 15px;
  line-height: 1.5;
  max-width: 500px;
  margin: 0 auto;
  color: #242B33;
}
.container4 button {
  background-color: #003459;
  color: #fdfdfd;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: normal;
}
.container5 {
  background-color: #ffffff;
  height: 50vh;
  width: 1200px;
  margin-top: 10px;
  margin-left: -22px;
  padding: 20px;
  box-sizing: border-box;
}
.our-products {
  color: #003459;
  font-size: 37px;
}
.container3 h2 {
  font-size: 20px; /* or any desired size */
}
.container5 h2 {
  font-size: 20px; /* or any desired size */
}

.text-wrapper p {
  font-size: 32px; /* or any desired size */
}
.container6 {
  height: 200px; /* Set the height of the container */
}

.pet-sellers {
  font-size: 33px;
  color: #003459;
  margin-left: 5px;
}
.image-container {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 80%;
  margin: 0 auto;
  margin-top: -60px;
  margin-bottom: 100px;
}

.image-container img {
  margin: 0 50px; /* add spacing between images */
  height: 60%;
}
.container7 p {
  font-size: 20px;
  margin-right:100px;
}
.container7 h3 {
  margin-top: -25px;
  color: #003459;
}
.container7{
  max-width: 1200px;
}
.card-knowledge {
  width: 1200px;
  height: 470px;
  margin: 10px;
}

.card-knowledge img {
  height: 300px;
  object-fit: cover;
}

.card-knowledge .card-body {
  background-color: #ffffff;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  margin-top: -10px;
  margin-bottom: 100px;
  padding: 10px;
}
.card-body .Title-Text {
  font-size: 17px;
  width: 350px;
  font-family: 'Gilroy';
  font-weight: 300; 
  
  font-style:Bold;
}
.card-body .Info-Text {
  font-size: 15px;
  width: 350px;
  margin-top: -20px;
}
.a {
  text-decoration: none;
}