<app-toolbar></app-toolbar>
<body>
    <div class="row">
        <div class = "column">
            <fieldset style="border: 1px black solid" class="registerBox">
                <legend >Register</legend>
                Text within the box
                Etc
              </fieldset>
        </div>
        <div class = "column">
            <img class = "dogPic" src="https://images.pexels.com/photos/4192822/pexels-photo-4192822.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>
    </div>
</body>
